


body {
 
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #e0e0e0;


}


/* styles/globals.css */

.image-container {
  margin-left: 50vh;
  width: 100vh;
  height: 25vh; /* 1/4th of the viewport height */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  object-fit: cover; /* Ensure the image covers the entire container */
}

